@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
 

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.mxklabs-wide-logo {
  font-family: Comfortaa;
  letter-spacing: 0.1rem;
}

.mxklabs-logo {
  font-family: Comfortaa;
}

.mxklabs-logo-mxk {
  color: #00b8b8;
}

.mxklabs-logo-labs {
  color: #ff5555;
}

.mxklabs-logo-normal {
  color: #a1a1a1;
}

.mxklabs-logo-slash {
  color: #a1a1a1;
}

.mxklabs-logo-page {
  color: #ff8000;
}

@theme {
  --color-mxk-cyan: #00b8b8; 
  --color-mxk-red: #ff5555; 
  --color-mxk-gray: #a1a1a1; 
  --color-mxk-orange: #ff8000; 
}